<launch>
  <arg name="width"  default="1280" />
  <arg name="height" default="960" />
  <arg name="fps"    default="54" />

  <arg name="vendor" default="0x2560" />
  <arg name="product" default="0xc110" />
  <!--<arg name="product" default="0xc111" />-->
  <arg name="left_eye_serial"   default="0E27450B"/>
  <arg name="right_eye_serial"  default="262E450B"/>
  <arg name="left_eye_node_name"  default="left_master" />
  <arg name="right_eye_node_name" default="right_slave" />

  <arg name="video_mode" default="uncompressed" />
  <arg name="camera_info_url" default="$(env ROS_HOME)/camera_info/tara_param_right.yaml"/>
  <arg name="timestamp_method" default="start"/>
  <arg name="auto_exposure" default="3"/>
  <arg name="auto_white_balance" default="false" />
  <arg name="exposure_absolute" default="0.0020"/>

  <arg name="root_nodelet_manager" default="" />
  <arg name="is_manager_inherited" value="$(eval root_nodelet_manager == '')"/>
  <arg name="nodelet_manager" value="/manager" if="$(arg is_manager_inherited)" />
  <arg name="nodelet_manager" value="$(arg root_nodelet_manager)" unless="$(arg is_manager_inherited)"/>
  <node pkg="nodelet" type="nodelet" name="manager" args="manager" output="screen" if="$(arg is_manager_inherited)" />

  <!-- ===== Left Master ===== -->
  <include file="$(find libuvc_camera)/launch/see3cam_1MStereo.launch">
    <arg name="width"           value="$(arg width)"/> 
    <arg name="height"          value="$(arg height)"/>
    <arg name="fps"             value="$(arg fps)"/>
    <arg name="product"         value="$(arg product)" />
    <arg name="serial"          value="$(arg left_eye_serial)"/>
    <arg name="node_name"       value="$(arg left_eye_node_name)"/>
    <arg name="root_nodelet_manager" value="$(arg nodelet_manager)"/>
    <arg name="video_mode"      value="$(arg video_mode)"/>
    <arg name="auto_exposure"   value="$(arg auto_exposure)"/>
    <arg name="exposure_absolute" value="$(arg exposure_absolute)"/>
  </include>

  <!-- ===== Right Slave ===== -->
  <include file="$(find libuvc_camera)/launch/see3cam_1MStereo.launch">
    <arg name="width"           value="$(arg width)"/> 
    <arg name="height"          value="$(arg height)"/>
    <arg name="fps"             value="$(arg fps)"/>
    <arg name="product"         value="$(arg product)" />
    <arg name="serial"          value="$(arg right_eye_serial)"/>
    <arg name="node_name"       value="$(arg right_eye_node_name)"/>
    <arg name="root_nodelet_manager" value="$(arg nodelet_manager)"/>
    <arg name="video_mode"      value="$(arg video_mode)"/>
    <arg name="auto_exposure"   value="$(arg auto_exposure)"/>
    <arg name="exposure_absolute" value="$(arg exposure_absolute)"/>
  </include>
    
  <include file="$(find fisheye_stereo)/launch/frame_sync.launch">
    <arg name="nodelet_manager" value="$(arg nodelet_manager)"/>
    <arg name="image_width"     value="$(arg width)" />
    <arg name="image_height"    value="$(arg height)" />
    <arg name="left_eye_node_name"  value="$(arg left_eye_node_name)"/>
    <arg name="right_eye_node_name" value="$(arg right_eye_node_name)"/>
  </include>

  <node pkg="libuvc_camera" name="ev_calculator" type="auto_exposure_calculatro.py" output="screen">
    <remap from="src_image" to="$(arg left_eye_node_name)/image_raw"/>
    <param name="~master_node_name" value="$(arg left_eye_node_name)"/>
    <param name="~brightness_tgt"   value="64.0"/>
    <param name="~step_size"        value="0.10"/>
    <param name="~update_interval"  value="15"/>
    <param name="~max_exposure"     value="0.1"/>
  </node>

  <node pkg="libuvc_camera" name="master_ev_updater" type="auto_exposure_updater.py" output="screen">
    <param name="~node_name"  value="$(arg left_eye_node_name)"/>
  </node>

  <node pkg="libuvc_camera" name="slave_ev_updater" type="auto_exposure_updater.py" output="screen">
    <param name="~node_name"  value="$(arg right_eye_node_name)"/>
  </node>
</launch>
